{% include 'header.html' %}

<!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->

<div class="w3-container">

  <h2>About</h2>

  <ul class="w3-leftbar w3-theme-border" style="list-style:none">
    <li>This project uses a YOLO V5 model to detect objects in images and videos.</li>
    <li>The pre-trained model was fine tuned with annotated images from a public database.</li>
   </ul>

The model can detect up to 20 different classes:
<ol>
  <li>Person</li>
  <li>Car</li>
  <li>Chair</li>
  <li>Bottle</li>
  <li>Sofa</li>
  <li>Bicycle</li>
  <li>Horse</li>
  <li>Boat</li>
  <li>Motor Bike</li>
  <li>Cat</li>
  <li>Tv Monitor</li>
  <li>Cow</li>
  <li>Sheep</li>
  <li>Aeroplane</li>
  <li>Train</li>
  <li>Dining Table</li>
  <li>Bus</li>
  <li>Potted Plant</li>
  <li>Bird</li>
  <li>Dog</li>

</ol> 

</div>



</div>
      
</body>
</html>
